*{
  background-color: #1a472a;
}
colors{
  color:#1a472a;
  color: #2a623d;
  color: #5d5d5d;
  color: #aaaaaa;
}


body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: #1a472a;
}

textarea {
  background: transparent;
  border: none;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}
.title{
  color: #aaaaaa;
}
.row {
  border-top: 2px solid #1a472a;
}

.hour {
  background-color: #419873;
  color: #000000;
  border-top: 1px solid #000000;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
  font-weight: bold;
}

.past {
  background-color:#5d5d5d;
  color: white;
}

.present {
  background-color: #2a623d;
  color: white;
}

.future {
  background-color: #aaaaaa;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #419873;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
.newDay{
  background-color: #419873;
  color: white;
  border: #000000;
  border-radius: 3px;
}
.newday:hover{
  color:#000000
}